<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575316044423-6lhuafilr3igdv36s9d6ccrsn1ao3r40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575316044423-6lhuafilr3igdv36s9d6ccrsn1ao3r40</string>
	<key>API_KEY</key>
	<string>AIzaSyAp97JUf_63GBaopOsysFuSYxgtT2i1CbE</string>
	<key>GCM_SENDER_ID</key>
	<string>575316044423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.damU4Proyecto119400586</string>
	<key>PROJECT_ID</key>
	<string>dam-u4-proyecto1-19400586</string>
	<key>STORAGE_BUCKET</key>
	<string>dam-u4-proyecto1-19400586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575316044423:ios:8e3bb9e2c6445b041fe622</string>
</dict>
</plist>